.RAYE--top--bar{
  width: auto;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 15px;
  padding-right: 30px;
}

.RAYE--top--bar a:hover {
  text-decoration: underline;
  color: darkslategray;
}
