
<div class="overlay">
  <div class="RAYE--product--details--info scroll">
    <div class="RAYE-product-detail-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="RAYE-product-detail-image">
         <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5b0981ff-45f8-40c3-9372-32430a62aaea/dunk-high-shoes-n3vgBk.png"
         class="RAYE-product-detail-image">
    </div>

    <div class="RAYE-product-detail">
         <div class="RAYE-product-detail-name">
              <h2>Nike React Infinity Run Flyknit</h2>
         </div>
         <div class="RAYE-product-detail-gbc">
              <span>Men</span>
              <span>NIKE</span>
              <span>SPORTS</span>
         </div>
         <div class="RAYE-product-detail-price">
            <p>
                 <b>Price Each Pair:</b>
                 <span style="background-color: red; color:white"><s>$699</s></span>
                 <span style="background-color: green; color: white">$599</span> (Inclusive of all taxes)
            </p>
         </div>
         <div class="RAYE-product-detail-size">
             <div style="padding: 5px 0px; border-bottom: #ccc 2px solid">
                 <h4>Available Size</h4>
        </div>
        <div style="margin-top: 20px">
            <span class="RAYE-product-detail-available-size">6</span>
            <span class="RAYE-product-detail-available-size">7</span>
            <span class="RAYE-product-detail-available-size">8</span>
            <span class="RAYE-product-detail-available-size">9</span>
        </div>
    </div>

    <div class="RAYE-product-detail-color">
         <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
            <h4>Available Color</h4>
        </div>
        <div style="margin-top: 20px;">
            <span class="RAYE-product-detail-available-color" style="background-color: red;"></span>
            <span class="RAYE-product-detail-available-color" style="background-color: green;"></span>
            <span class="RAYE-product-detail-available-color" style="background-color: black;"></span>
            <span class="RAYE-product-detail-available-color" style="background-color: blue;"></span>
        </div>
    </div>

    <div class="RAYE-product-detail-desc">
        <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
             <h4>Product Description</h4>
        </div>
        <div style="margin-top: 20px;">
              <p>DESCRIPTION</p>
        </div>
    </div>
    </div>
    <div class="RAYE-product-detail-addtoCart">
         <button class="btn-add-to-cart">ADD TO CART</button>
    </div>
</div>
</div>

